<!DOCTYPE html>
<html>
  <head>
    <title>Twitch Doe</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header_menu" %>
    <%= yield %>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
